@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Roboto", sans-serif;
  }

  body {
    font-size: 14px;
  }
}

@layer utilities {
  .pagination .active {
    background-color: #0f0f0f;
    color: #fff;
  }
  .orders.unfinished > div:last-child,
  .orders.finished > div:last-child {
    @apply mt-3;
  }
  .orders.finished > div:first-child,
  .orders.unfinished > div:first-child {
    @apply mb-3;
  }
}

.nextpage-animation {
  animation: nextpage 200ms;
}
.previouspage-animation {
  animation: previouspage 200ms;
}

@keyframes nextpage {
  0% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes previouspage {
  0% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

/* Owl Carousel */
.slick-slider {
  display: flex !important;
  flex-direction: column;
}
.slick-list {
  order: 2;
}
.slick-dots {
  @apply mb-7 rounded-md gap-3 p-1.5 w-fit;
  background-color: #f8f8f8;
  overflow-x: auto;
  max-width: fit-content;
  width: 100%;
  order: 1;
  display: flex !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slick-dots::-webkit-scrollbar {
  display: none;
}

.slick-dots > li:last-child {
  @apply pr-0.5;
}

.slick-dots > li > button {
  @apply block rounded-md;
  transition: 0.5s;
}

.slick-dots > li.slick-active > button {
  background-color: #fff !important;
}

.slick-dots > li > button {
  @apply px-3 py-1 inline-block font-semibold;
}
